@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(8, 82, 75);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 2;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to top, rgb(26, 80, 26),  rgb(109, 194, 109));
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  height: 100vh;
}

.container {
  width: 200;
  max-width: 600px;
  margin: 15px auto;
  background: rgb(218, 214, 214);
  padding: 30px;
  border-radius: 20px;
}

.container h1 {
  text-align: center;
  margin-bottom: 50px;
}

button{
  background: rgb(218, 214, 214) ;
  max-width: 600px;
  text-align: center;
  padding: 20px 135px;
  font-size: 22px;
  border: 0;
  border-radius: 10px;
  color: black;
  position: center;
}


img{
  margin: 50px;
  height: 50px;
  width: 100%;
  background-repeat: inherit;
}

body{
  background-image: url(../img/169.jpg);
  background-repeat: no repeat;
  background-size: cover;
  background-position: center;
}

header{
  font-style: normal;
  color:aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  background: rgb(7, 70, 7);
  padding: auto;  
}


